<div class="layout">
	<section id="teaching" class="container">
	<section class="box simple features">
        <!-- <section class="box title"> --->
        <h2 id="{{ include.label }}">{{ include.title }}</h2>
        <!-- </section> --->
        <div class="row">
        {% assign dir = {{include.content}} %}
        {% for item in dir %}
            <div class="4u 8u(narrower)">
                <section class="box features">
                    <span class="image featured"><img src="{{ item.image | relative_url }}" alt="" /></span>
                    <h4>{{ item.title }}</h4>
                    <p>{{ item.description}}</p>
                    <!-- <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul> -->
                </section>
            </div>
        {% endfor %}
        </div>
        </section>
	</section>
</div>