<section class="box special features">
    <div class="features-row">
        <section>
            <span class="icon major accent2"><i class="fas fa-bolt" data-fa-transform="grow-20"></i></span>
            <h3>Magna etiam</h3>
            <p>
        Integer volutpat ante et accumsan commophasellus sed aliquam feugiat
        lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna
        aliquam veroeros.
      </p>
        </section>
        <section>
            <span class="icon major accent3"><i class="fas fa-chart-area" data-fa-transform="grow-20"></i></span>
            <h3>Ipsum dolor</h3>
            <p>
        Integer volutpat ante et accumsan commophasellus sed aliquam feugiat
        lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna
        aliquam veroeros.
      </p>
        </section>
    </div>
    <div class="features-row">
        <section>
            <span class="icon major accent4"><i class="fas fa-cloud" data-fa-transform="grow-20"></i></span>
            <h3>Sed feugiat</h3>
      <p>
        Integer volutpat ante et accumsan commophasellus sed aliquam feugiat
        lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna
        aliquam veroeros.
      </p>
        </section>
        <section>
            <span class="icon major accent5"><i class="fas fa-lock" data-fa-transform="grow-20"></i></span>
            <h3>Enim phasellus</h3>
            <p>
        Integer volutpat ante et accumsan commophasellus sed aliquam feugiat
        lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna
        aliquam veroeros.
      </p>
        </section>
    </div>
</section>
